---
import LaravelIcon from "../components/icons/Laravel.astro";
import AstroIcon from "../components/icons/AstroIcon.astro";
import NodeIcon from "../components/icons/NodeJS.astro";
import MoleculerIcon from "../components/icons/Moleculer.astro";
import GitHub from "../components/icons/GitHub.astro";
import LinkButton from "../components/LinkButton.astro";
import Link from "../components/icons/Link.astro";

const TAGS = {
    LARAVEL: {
        name: "Laravel",
        class: "bg-white/5 text-white",
        icon: LaravelIcon,
    },
    ASTRO: {
        name: "Astro",
        class: "bg-white/5 text-white",
        icon: AstroIcon,
    },
    NODE: {
        name: "Node.js",
        class: "bg-white/5 text-white",
        icon: NodeIcon,
    },
    MOLECULER: {
        name: "Moleculer",
        class: "bg-white/5 text-white",
        icon: MoleculerIcon,
    },
};


const PROJECTS = [
    {
        title: "Municipio 360",
        description: `Plataforma para la digitalización y gestión de procesos municipales.

        Desarrollo de servicios backend para la administración de usuarios, catálogos y procesos administrativos, utilizando una arquitectura basada en microservicios.

        Implementación de APIs REST para la integración entre los distintos módulos del sistema y la aplicación móvil.

        Validación y carga masiva de información mediante procesos automatizados, así como apoyo en la optimización de consultas y procedimientos almacenados para mejorar el rendimiento del sistema.`,
        link: "https://www.municipio-360.com/login/", // ajusta si aplica
        image: "/projects/infoMunicipio360.png",
        tags: [TAGS.NODE, TAGS.MOLECULER],
    },
    {
        title: "Trackit-HPL",
        description: `Sistema para la gestión logística, flotas de transporte y transportistas externos.
        Desarrollo y mantenimiento de microservicios en Node.js con Moleculer.
        Implementación de flujos de asignación, reasignación y monitoreo de traslados.
        Integración de autenticación y control de acceso mediante JWT y Bcrypt.
        Consumo de APIs externas (Google Maps) para geolocalización y seguimiento.
        Optimización de procesos enfocados en escalabilidad y estabilidad del sistema.`,
        link: "https://www.trackitapp.com.mx/login", // ajusta si aplica
        image: "/projects/infoTrackit.png",
        tags: [TAGS.NODE, TAGS.MOLECULER],
    },
    {
        title: "Plataforma Victoria 147",
        description: `Sistema para la gestión de una red de empresarias y organizaciones.
        Desarrollo y mantenimiento de funcionalidades backend para la publicación y administración de productos, servicios, beneficios y actividades dentro de la plataforma. Implementación de servicios REST para el manejo de usuarios, contenidos y flujos internos de la red. Integración de lógica de negocio para la gestión de registros, validaciones y control de información. Optimización y ajustes funcionales basados en requerimientos del usuario final, priorizando estabilidad, escalabilidad y mantenibilidad del sistema.`,
        link: "https://victoria147.plataforma-empresarial.com/", // ajusta si aplica
        image: "/projects/infoVictoria.png",
        tags: [TAGS.NODE, TAGS.MOLECULER],
    },
]
---

<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                <div class="w-full md:w-1/2">
                    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-hidden rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                        <div class="w-full aspect-video">
                            <img
                                alt="Imagen"
                                src={image}
                                loading="lazy"
                                class="w-full h-full object-contain transition-transform duration-500 md:group-hover:scale-105"
                            />
                        </div>
                    </div>
                </div>

                <div class="w-full md:w-1/2 md:max-w-lg">
                    <h3 class="text-2xl font-bold text-white dark:text-gray-100">
                        {title}
                    </h3>
                    <div class="flex flex-wrap mt-2">
                        <ul class="flex flex-row mb-2 gap-x-2">
                            {tags.map((tag) => (
                            <li>
                                <span class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}>
                                    <tag.icon class="size-4" />
                                    {tag.name}
                                </span>
                            </li>
                        ))}
                        </ul>

                        <div class="mt-2 text-white dark:text-gray-400">{description}</div>
                            <footer class="flex items-end justify-start mt-4 gap-x-4">
                                {github && (
                                    <LinkButton href={github}>
                                        <GitHub class="size-6" />
                                            Code
                                    </LinkButton>
                                )}
                                {link && (
                                    <LinkButton href={link}>
                                        <Link class="size-4" />
                                            Preview
                                    </LinkButton>
                                )}
                            </footer>
                        </div>
                    </div>
            </article>
        ))
    }
</div>
